version: "3.3"
services:
  frontend:
    container_name: frontend
    build:
      context: ./app/frontend
      dockerfile: Dockerfile
    working_dir: /frontend
    volumes:
      - ./app/frontend:/frontend
    entrypoint: >
      sh -c "./entrypoint.sh"
  backend:
    container_name: backend
    build:
      context: ./app/backend
      dockerfile: Dockerfile
    working_dir: /backend
    volumes:
      - ./app/backend:/backend
    env_file:
      - docker.env
    entrypoint: >
      sh -c "./entrypoint.sh"
  crawler:
    container_name: crawler
    restart: always
    build:
      context: ./app/crawler
      dockerfile: Dockerfile
    env_file:
      - docker.env
    volumes:
      - ./app/crawler:/crawler
    working_dir: /crawler
    entrypoint: >
      sh -c "make re && ./twicyrc"
  db:
    container_name: db
    build:
      context: ./app/db
      dockerfile: Dockerfile
    volumes:
      - ./app/db/data:/var/lib/mysql
    working_dir: /
    env_file:
      - docker.env
    entrypoint: >
      sh -c "./dbconfig/mysqld.sh"
  analyzer:
    container_name: analyzer
    build:
      context: ./app/analyzer
      dockerfile: Dockerfile
    volumes:
      - ./app/analyzer:/analyzer
    working_dir: /analyzer/srcs
    env_file:
      - docker.env
    entrypoint: >
      sh -c "python3 -u main.py"
  proxy:
    container_name: proxy
    restart: always
    build:
      context: ./app/proxy
      dockerfile: Dockerfile
    volumes:
      - ./app/proxy:/proxy
    ports:
      - 80:80
      - 443:443
    working_dir: /proxy
    entrypoint: >
      sh -c 'nginx -g "daemon off;"'
  grafana:
    container_name: grafana
    build:
      context: ./app/grafana
      dockerfile: Dockerfile
    env_file:
      - docker.env
    volumes:
      - ./app/grafana/srcs:/usr/share/grafana/conf/provisioning/dashboards
  influxdb:
    platform: linux/x86_64
    container_name: influxdb
    image: influxdb:1.7-alpine
    volumes:
      - ./app/influxdb:/var/lib/influxdb
    env_file:
      - docker.env
  telegraf:
    container_name: telegraf
    build:
      context: ./app/telegraf
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: ["telegraf"]
    env_file:
      - docker.env
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8080:80"
    restart: always
    env_file:
      - docker.env
