:root {
  --background-white: #fffffb;
  --line: #d4d4d4;
  --purple1: #8958d8;
  --purple2: #a672f6;
  --purple3: #c48dff;
  --purple4: #e2a9ff;
  --purple5: #ffc6ff;
  --gray: #e8e8e8;
  --black: #232629;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-white);
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Mui textField outline color when focused */

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--purple1) !important;
}

/* Mui textField label color when focused */

.Mui-focused {
  color: var(--purple1) !important;
}
