.TabBox {
  flex-grow: 1;
  display: flex;
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;
}

.Tabs {
  color: rgba(137, 88, 216, 0.5);
  display: flex;
  width: 10rem;
}

/*
* ------------------------------------------
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .TabBox {
    flex-direction: column;
  }
  .Tabs {
    width: 100%;
  }
  .Tab {
    width: 50%;
  }
  .TabPannel {
    padding: 0;
  }
}
