.Frame {
  width: 80%;
  margin: 4rem auto auto auto;
  padding: 1rem;
}

.StreamerInfo {
  display: flex;
}

.StreamerImg {
  border-radius: 50%;
  vertical-align: top;
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.StreamerInfoText {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
}

.StreamerNick {
  font-size: 2rem;
  color: var(--purple1);
}

.StreamerFollowers {
  font-size: 1rem;
  color: var(--purple1);
}

.StreamerCurrentViewers {
  font-size: 1rem;
  color: var(--purple1);
}

.TableBox {
  width: 100%;
  padding: 2rem 0 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.CardList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 2rem;
}

.CardList > * {
  width: 33%;
}

.Canvas {
  width: 100%;
  height: 100%;
  max-height: 40rem;
}

.NeonText {
  font-size: 4rem;
}

/*
* ------------------------------------------
*  Responsive Grid Media Queries - 1280, 1024, 768, 480
*   1280-1024   - desktop (default grid)
*   1024-768    - tablet landscape
*   768-480     - tablet 
*   480-less    - phone landscape & smaller
* --------------------------------------------
*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .NeonText {
    font-size: 3rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .NeonWrapper {
    display: none;
  }
  .NeonText {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .Frame {
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .StreamerInfo {
    flex-direction: column;
    align-items: center;
  }
  .RecentlyUsedWord {
    margin: 0;
  }
  .StreamerInfoText {
    margin: 0;
    align-items: center;
  }
  .CardList {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .CardList > * {
    width: auto;
  }
  .CardItem {
    margin: 10px;
  }
  .TableBox {
    display: flex;
    flex-direction: column;
  }
  .NeonWrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
